My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1d19cd79-dbda-4989-981b-cab3f993f90a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "locationSelection": "coordinates",
        "latitude": "29.957755",
        "longitude": "76.845635"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "71df41ef-1649-4372-a109-bbee2bf24de1",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "f1RRd3K1syzK82ny",
          "name": "OpenWeatherMap account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a premium weather assistant.\n\nAnalyze the weather data below and generate a friendly English Telegram message.\n\nRules:\n\n* Use emojis.\n* Keep it under 60 words.\n* Sound natural and human.\n* Give practical advice.\n* If rain is expected, tell the user to carry an umbrella.\n* If temperature is high, tell the user to stay hydrated.\n* If weather is pleasant, wish the user a great day.\n* Never show variables, JSON, or technical data.\n* Return only the final Telegram message.\n\nWeather Data:\nTemperature: {{$json.main.temp}}°C\nCondition: {{$json.weather[0].main}}\nHumidity: {{$json.main.humidity}}%\nWind Speed: {{$json.wind.speed}} m/s\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        0
      ],
      "id": "b8473bc8-5c30-45f9-941e-acd4f76f0793",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        208
      ],
      "id": "99a28a71-dbd7-4da1-9e25-cd757a26a869",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5jgemMSirrITEKRA",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send the generated weather message to my Telegram account.\n\nAlways use:\nChat ID: 7597775680\n\nThe message content should be the final weather advice generated by the AI.\n",
        "chatId": "=7597775680",
        "text": "={{$fromAI(\"message\")}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        560,
        208
      ],
      "id": "b5be4099-02fa-42b9-8327-54b725d986b0",
      "name": "Send a text message in Telegram",
      "webhookId": "e836062f-c680-40f2-9bb7-51d16ee5eebd",
      "credentials": {
        "telegramApi": {
          "id": "gO18mcMWWaBZ2chZ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bad42b77-786a-40d9-9c5c-cd6885b91f94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cf5989844470bfcbb684f89035c0e33fa9462f82d9d71b4d0379391ca6e1984"
  },
  "nodeGroups": [],
  "id": "isVx0cyGdsTHP814",
  "tags": []
}