workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 7 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "1d19cd79-dbda-4989-981b-cab3f993f90a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "locationSelection": "coordinates",
        "latitude": "29.957755",
        "longitude": "76.845635"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [416, 0],
      "id": "71df41ef-1649-4372-a109-bbee2bf24de1",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "YOUR_OPENWEATHERMAP_CREDENTIAL_ID",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional weather analyst and personal assistant.\n\nAnalyze the weather data and generate a detailed, premium English weather report for Telegram.\n\nRequirements:\n\n* Use emojis.\n* Mention temperature, weather condition, humidity, wind speed, and rain probability if available.\n* Explain what the weather means in simple language.\n* Give practical advice (umbrella, clothing, hydration, travel, outdoor activities).\n* Sound like a premium weather app, not a robot.\n* Keep the message between 80–150 words.\n* Use proper formatting and spacing.\n* Never show JSON, variables, or technical placeholders.\n* Return only the final Telegram message.\n\nWeather Data:\nTemperature: {{$json.main.temp}}°C\nCondition: {{$json.weather[0].main}}\nHumidity: {{$json.main.humidity}}%\nWind Speed: {{$json.wind.speed}} m/s\nRain Probability: {{$json.rain_probability}}\n\nExample style:\n\n🌤 Good Morning!\n\n📍 Today's Weather Report\n\n🌡 Temperature: 34°C\n☁️ Condition: Cloudy\n💧 Humidity: 72%\n🌬 Wind Speed: 12 km/h\n☔ Rain Chance: 60%\n\n🎒 Recommendation:\nCarry an umbrella as rain may occur later today.\n\n💡 Tip:\nStay hydrated and wear light, comfortable clothing.\n\nHave a wonderful day ahead! ✨\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [608, 0],
      "id": "b8473bc8-5c30-45f9-941e-acd4f76f0793",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [496, 208],
      "id": "99a28a71-dbd7-4da1-9e25-cd757a26a869",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send the generated weather message to my Telegram account.\n\nAlways use:\nChat ID: YOUR_TELEGRAM_CHAT_ID\n\nThe message content should be the final weather advice generated by the AI.\n",
        "chatId": "=YOUR_TELEGRAM_CHAT_ID",
        "text": "={{$fromAI(\"message\")}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [768, 208],
      "id": "b5be4099-02fa-42b9-8327-54b725d986b0",
      "name": "Send a text message in Telegram",
      "webhookId": "e836062f-c680-40f2-9bb7-51d16ee5eebd",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "OpenWeatherMap", "type": "main", "index": 0 }]]
    },
    "OpenWeatherMap": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Send a text message in Telegram": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cf5989844470bfcbb684f89035c0e33fa9462f82d9d71b4d0379391ca6e1984"
  }
}